.doodle {
  height: 100%;
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__pearl {
    width: 100%;
    height: 382px;
    object-fit: contain;
    display: block;
  }

  &__eye {
    position: absolute;
    background-color: #000;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.9;

    &:nth-child(2) {
      top: 30.7%;
      left: 21.4%;
      width: 7px;
      height: 7px;
    }

    &:nth-child(3) {
      top: 32.5%;
      left: 34.7%;
      width: 8px;
      height: 8px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 4px;
      height: 3px;
      background-color: #fff;
      opacity: 0.5;
      border-radius: 50%;
    }
  }
}
