.landing {
  position: relative;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    color: var(--color-white);
    font-size: 5rem;
    text-align: center;
    mix-blend-mode: difference;
  }

  &__sub {
    text-align: center;
    font-size: 1.2rem;
  }

  &__inner {
    position: relative;
    width: 100%;
    min-height: 70svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(#baa898, 0.3);
    border-top-left-radius: 60%;
    border-top-right-radius: 90%;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 90%;
  }

  &__frame {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(3rem);
  }

  &__scroll {
    position: absolute;
    bottom: -100px;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid rgba(#baa898, 0.3);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 150px;
      height: 150px;
      opacity: 0.4;
    }
  }
}
