.landing {
  position: relative;
  padding: 24px;
  min-height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    color: var(--color-white);
    font-size: 5rem;
    text-align: center;
  }

  &__sub {
    text-align: center;
    font-size: 1.2rem;
  }

  &__frame {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(3rem);
  }

  &__cta-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 16px;
    padding: 24px;

    &__link {
      display: block;
      height: 45px;
      padding: 0 0.8rem;
      backdrop-filter: blur(6rem);
      background-color: rgba(#fff, 0.1);
      border: 1px solid rgba(#baa898, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border-radius: 1rem;
      text-decoration: none;

      &:hover {
        path {
          fill: var(--color-white);
        }
      }

      span {
        color: var(--color-white);
        font-family: "Uphoria Endeavour", sans-serif;
        transform: translateY(2px);
      }

      svg {
        width: 24px;
        height: 24px;

        path {
          transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          fill: var(--color-white-shade);
        }
      }
    }
  }
}
