@font-face {
  font-family: "Uphoria Endeavour";
  src: url("/src/assets/fonts/Uphoria/Uphoria Endeavour.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Uphoria Endeavour", sans-serif;
}
