.about {
  padding-bottom: 20svh;

  &__links {
    a {
      text-decoration: none;
      color: var(--color-white);
    }
  }

  &__inner {
    max-width: 700px;
  }

  &__title {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: var(--color-white);
  }

  &__section {
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1.2;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
