.about {
  padding: 24px;

  &__title {
    font-size: 4rem;
    margin-bottom: 10svh;
  }

  &__content {
    display: block;
    font-size: 1.2rem;
    max-width: 520px;
    text-transform: uppercase;
    line-height: 1.7;
  }

  &__expand-img {
    display: inline-block;
    width: 20vw;
    aspect-ratio: 16 / 9;
    background: url("https://images.pexels.com/photos/1493659/pexels-photo-1493659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    border-radius: 10vw;
  }
}
