.yuh {
  position: relative;
  background: conic-gradient(rgba(#ccb1da, 0), rgba(#ccb1da, 0.7));
  height: 100%;
  width: 200px;
  border-radius: 50vw;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   inset: 50%;
  //   transform: translate(-50%, -50%);
  //   width: 100px;
  //   height: 100px;
  //   backdrop-filter: blur(3rem);
  //   z-index: 1;
  // }
}
